<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -</title>
    <partial name="Layout/_CssPartial" />
</head>
<body>
    <header>
        <partial name="Layout/_NavPartial" />

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <partial name="_NotificationPartial"/>
 </div>
    <partial name="Layout/_FooterPartial" />
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="Layout/_JsPartial" />
</body>
</html>
