@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


E html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Descripción de la página para SEO" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <partial name="Layout/_CssPartial" />
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <partial name="Layout/_IconPartial" />
        <partial name="Layout/_NavPartial" />
    </header>

    <partial name="Layout/_SideBarPartial" />

    <main id="main" class="main">
        @RenderBody()
    </main>

    <partial name="_NotificationPartial" />
    <partial name="Layout/_FooterPartial" />
    <partial name="Layout/_JsPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
