@model subscription_system.Areas.Admin.Models.ViewModel.Plan.AdminPlanCreateVM;
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Crear plan</h5>
            <div class="col-12">
                <form asp-action="Create">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="col-12">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name"  class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                               <!-- <label class="form-check-label" for="Active">Html.DisplayNameFor(model => model.Active)</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="Active" asp-for="Active" />
                                </div>
                                 -->
                                <label class="form-check-label" asp-for="Active">@Html.DisplayNameFor(model => model.Active)</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" asp-for="Active">
                                </div>
                                <span asp-validation-for="Active" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" sp-mask="currency" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="BillingPeriod" class="control-label"></label>
                                <input asp-for="BillingPeriod"  class="form-control" />
                                <span asp-validation-for="BillingPeriod" class="text-danger"></span>

                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="TrialPeriod" class="control-label"></label>
                                    <input asp-for="TrialPeriod" type="number"  class="form-control" />
                                    <span asp-validation-for="TrialPeriod" class="text-danger"></span>

                                </div>

                            </div>

                            <div class="text-center">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-secundary">Back to List</a>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="table-responsive flex-grow-1 overflow-auto">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var feature in Model.FeaturesAvialable) {
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"
                                                           name="FeaturesSelected" value="@feature.Id"
                                                    @(Model.FeaturesSelected.Contains(feature.Id) ? "checked" : "") />
                                                    <label class="form-check-label">
                                                        @feature.Name
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

   

}
