html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
footer {
    /*margin-bottom:0;
    position: fixed;*/
}

body {
  margin-bottom: 60px;
  
}

@media(min-width:200px ) {
    .card {
        width: 80vw;
    }
    
}

@media(min-width:400px ) {
    .card {
        width: 40vw;
    }
}

.card {
    width: 20vw;
}


.card-deck {
    display: flex;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
}